<div class="content">
	<h3>Here are your messages:</h3>
	<% @messages.each do |message| %>
		<p><strong><%= message.sender.username %></strong>: <%= message.text%><br>
		<small><%= message.created_at.strftime "%m-%d-%Y %H:%M UTC" %></small>
		</p>
	<%end%>

	<div class="messaging">
		<div class="left">
			<p><em>Send a personal message here:</em></p>
			<form action="/personal" method="post">
				<select name="recipient">
					<% @user.contacts.each do |contact| %>
						<option value=<%= contact.id %> ><%= contact.username %></option>
					<% end %>
				</select>

			  <input type="text" name="message">
			  
			  <input type="submit" value="Send">
			</form>
		</div>

		<div class="right">
			<p><em>Send a group message here:</em></p>
			<form action="/group" method="post">
				<select name="group">
					<% @user.groups.each do |group| %>
						<option value=<%= group.id %> ><%= group.name %></option>
					<% end %>
				</select>

				<input type="text" name="message">
				
				<input type="submit" value="Send">
			</form>
		</div>
	</div>

	<footer>
		<form action="logout" method="post">
			<input type="submit" value="Logout">
		</form>
	</footer>
</content>