<h3>Here are your messages:</h3>
<% @messages.each do |message| %>
<strong><%= message.created_at %> - <%= message.sender.username %></strong>: <%= message.text%>
<p>
<%end%>
<p>
<em>Send a personal message here:</em>
<form action="/form" method="post">
	<select>
		<% @user.contacts.each do |contact| %>
			<option value=<%= contact.username %> ><%= contact.username %></option>
			<% end %>
	</select>
  <input type="text" name="message">
  <input type="submit" value="Send">
</form>
<br><br>

<form action="logout" method="post">
	<input type="submit" value="Logout">
</form>